@model IEnumerable<SchoolManagement2.Models.Enrollment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cource.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lecturer.firstname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Grade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cource.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.student.firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lecturer.firstname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EnrollmentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EnrollmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EnrollmentId })
        </td>
    </tr>
}

</table>
