@model IEnumerable<SchoolManagement2.Models.Cource>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.credit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.credit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CourceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CourceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CourceId })
        </td>
    </tr>
}

</table>
